/* RESETTING */
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

button,
summary {
    cursor: pointer;
}

/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --white: white;
    --black: black;

    --on-off: sienna;
}

/* VRAAG AAN HET SANNE */
h1 {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    letter-spacing: 5px;
    animation: glitch 1s infinite;
}
h1::before,
h1::after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
h1::after {
    color: #f0f;
    z-index: -2;
    animation: glitch 0.3s ease-in-out reverse infinite;
}
h1::before {
    color: #0ff;
    z-index: -1;
    animation: glitch 0.3s ease infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px) skew(0deg);
    }
    40% {
        transform: translate(5px, -5px) skew(0deg);
    }
    60% {
        transform: translate(-5px, 5px) skew(0deg);
    }
    80% {
        transform: translate(5px, -5px) skew(0deg);
    }
    100% {
        transform: translate(0);
    }
}

/* @keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
    to {
        transform: translate(0);
    }
} */

/* VRAAG AAN HET SANNE */

/* hidden h2 */
main h2 {
    /* https://www.a11yproject.com/posts/how-to-hide-content/ */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    /* of deze */
    /* position: absolute; */
    /* left:-9999em; */
}

/* retro tv */
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateZ(0);
}

/* tv */
main > article {
    position: relative;
    display: grid;
    gap: 1em;
    align-self: center;

    width: 80%;

    /* backup color */
    background-color: saddlebrown;

    /* https://codepen.io/jkantner/pen/ErQNQW?editors=1100 */
    background-image: radial-gradient(10rem 0.4rem at 8rem 0.8rem, #fff, #fff0), radial-gradient(10rem 0.4rem at 20rem 0.8rem, #fff, #fff0),
        radial-gradient(10rem 0.4rem at 36rem 0.8rem, #fff, #fff0), radial-gradient(14rem 0.8rem at 6rem 2rem, #fff 50%, #fff0),
        radial-gradient(55rem 0.4rem at 50% 2rem, #fff3, #fff0), linear-gradient(#0000, #0004), radial-gradient(12rem 0.4rem at 32rem 2rem, #fff, #fff0),
        url(https://i.ibb.co/rwcYp69/vintage-tv-texture.jpg);
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem / 3rem 3rem 0.75rem 0.75rem;
    box-shadow: 0 -1rem 0.75rem #ba816c7f inset;
}

/* tv channels */
article > section:nth-of-type(1) {
    display: grid;
    place-items: end center;
    position: relative;
    padding: 2em 2em 0;
    grid-area: 1/1;
}

article > section:nth-of-type(1) div {
    grid-area: 1/1;
    background-color: black;
    width: 100%;
    height: 100%;

    /* STYLE LATER */
    border: #211212 1em;
    border-style: solid;
    border-radius: 3em;
}

article > section:nth-of-type(1) video {
    grid-area: 1/1;

    width: 100%;
    height: 100%;

    /* STYLE LATER */
    border: #211212 1em;
    border-style: solid;
    border-radius: 3em;
}

/* antenna */
article > span {
    width: 0.5em;
    height: 10em;

    background: radial-gradient(circle at 20% 40%, rgb(220, 220, 220) 0%, rgb(90, 95, 96) 90%);
    position: absolute;

    bottom: calc(100% - 0.25em);

    z-index: -1;
    border-radius: 50% 50% 25% 25%;
    transform-origin: bottom;
}

article > span:nth-of-type(1) {
    transform: rotate(45deg);
    right: 30%;
}

article > span:nth-of-type(1):hover {
    animation: crazy-left 3s ease-in-out infinite alternate;
}

article > span:nth-of-type(2) {
    transform: rotate(-45deg);
    left: 30%;
}

article > span:nth-of-type(2):hover {
    animation: crazy-right 3s ease-in-out infinite alternate;
}

/* GLITCH ANIMATION START */
article:has(span:nth-of-type(2):hover) > section:nth-of-type(1) div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: repeating-conic-gradient(#0900fc 0% 25%, #fc01fc 0% 50%, #000003 0 75%, #0bf70e 0 100%);
    background-size: 10px 10px;
    background-origin: center;
    animation: glitch 0.05s linear infinite alternate;
    border-radius: 3em;
}

article:has(span:nth-of-type(1):hover) > section:nth-of-type(1) div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: repeating-conic-gradient(#0900fc 0% 25%, #fc01fc 0% 50%, #000003 0 75%, #0bf70e 0 100%);
    background-size: 10px 10px;
    background-origin: center;
    animation: glitch 0.05s linear infinite alternate;
    border-radius: 3em;
}

/* remote */
article > section:nth-of-type(2) {
    /* background-color: brown; */
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* on/off */
article > section:nth-of-type(2) section:nth-of-type(1) {
    width: 5em;
    height: 5em;
    background-color: var(--on-off);
    border-radius: 50%;
    z-index: 10;
}

article > section:nth-of-type(2) section:nth-of-type(1) label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
article > section:nth-of-type(2) section:nth-of-type(1) label input {
    appearance: none;
    width: 3em;
    height: 3em;
    border: 5px solid #000;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}
article > section:nth-of-type(2) section:nth-of-type(1) label input::before {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    background-color: var(--on-off);
    top: -5px;
}
article > section:nth-of-type(2) section:nth-of-type(1) label input::after {
    position: absolute;
    content: "";
    width: 0.45em;
    height: 2em;
    background-color: #000;
    border-radius: 1em;
    top: -0.9em;
    transition-duration: 0.3s;
}

article > section:nth-of-type(2) section:nth-of-type(1) label input:checked {
    transform: scale(0.95);
    border: 5px solid green;
}

article > section:nth-of-type(2) section:nth-of-type(1) label input:checked::after {
    background-color: green;
}

/* shutdown */
article:has(section:nth-of-type(2) section:nth-of-type(1) label input:checked) section:nth-of-type(1) video {
    animation: shutdown-reverse 1s linear reverse;
}

/* open tv */
article:has(section:nth-of-type(2) section:nth-of-type(1) label input:not(:checked)) section:nth-of-type(1) video {
    /* border: 10px solid red; */
    animation: shutdown 1s linear;
    opacity: 0;
}

/* channels */
article > section:nth-of-type(2) section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border-radius: 50%;
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li input {
    appearance: none;
    width: 3em;
    height: 3em;
    border: 5px solid #25130b;
    background-color: var(--on-off);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 300ms;
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li input::before {
    position: absolute;
    transition-duration: 300ms;
}

article > section:nth-of-type(2) section:nth-of-type(2) label input:checked {
    transform: scale(0.95);
    border: 5px solid green;
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(1) input::before {
    content: "1";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(2) input::before {
    content: "2";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(3) input::before {
    content: "3";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(4) input::before {
    content: "4";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(5) input::before {
    content: "5";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(6) input::before {
    content: "6";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(7) input::before {
    content: "7";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(8) input::before {
    content: "8";
}

article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(9) input::before {
    content: "9";
}

article > section:nth-of-type(2) section:nth-of-type(3) {
    display: none;
}

@media screen and (width > 500px) {
    article > section:nth-of-type(1) {
        padding: 1.5em 1em 0;
    }

    article > span:nth-of-type(1) {
        right: 35%;
    }

    article > span:nth-of-type(2) {
        left: 35%;
    }

    article > section:nth-of-type(2) section:nth-of-type(3) {
        display: block;
    }

    article > section:nth-of-type(2) section:nth-of-type(3) ul {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }
    article > section:nth-of-type(2) section:nth-of-type(3) ul li {
        width: 5em;
        height: 0.2em;
        background-color: #000;
        list-style: none;
    }
}

@media screen and (width > 786px) {
    /* tv */
    main > article {
        width: 70vw;
        height: 50vh;
        padding: 1em;

        background-image: radial-gradient(10em 0.4em at 8em 0.8em, #fff, #fff0), radial-gradient(10em 0.4em at 20em 0.8em, #fff, #fff0),
            radial-gradient(10em 0.4em at 36em 0.8em, #fff, #fff0), radial-gradient(14em 0.8em at 6em 2em, #fff 50%, #fff0),
            radial-gradient(55em 0.4em at 50% 2em, #fff3, #fff0), linear-gradient(#0000, #0004), radial-gradient(12em 0.4em at 32em 2em, #fff, #fff0),
            url(https://i.ibb.co/rwcYp69/vintage-tv-texture.jpg);
    }

    article {
        grid-template-columns: 1fr 10em;
        grid-template-rows: 1fr;
    }

    /* antenna */
    article > span:nth-of-type(1) {
        right: 40%;
    }

    article > span:nth-of-type(2) {
        left: 40%;
    }

    /* channels */
    article > section:nth-of-type(1) div {
        padding: 1em 0em 0;
    }

    article section:nth-of-type(1) video {
        width: 100%;
    }

    /* remote */
    article section:nth-of-type(2) {
        height: auto;
        grid-area: 1/2;
    }

    article > section:nth-of-type(2) {
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    @media (width > 987px) {
        /* tv */
        main > article {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            position: relative;

            max-width: 100em;
            height: auto;
            margin: 2.5%;
            padding: 2.5% 2.5% 5% 2.5%;

            background: #0d0c0c;
            border-radius: 10px;
            border-bottom-left-radius: 50% 2%;
            border-bottom-right-radius: 50% 2%;
            border-top: 3px solid #888;

            box-shadow: 0 -1em 0.75em #bbb4b462 inset;
        }

        /* https://codepen.io/englishfarsi/pen/abzymqy?editors=1100 */
        main > article::after {
            content: "";
            display: block;

            height: 0.2em;
            width: 28%;

            position: absolute;
            left: 36%;
            bottom: 5%;

            background: #d1cece;
            border-radius: 50%;
            box-shadow: 0 0 3px 0 white;
        }

        /* antenna */
        article > span:nth-of-type(1) {
            display: none;
        }

        article > span:nth-of-type(2) {
            display: none;
        }

        /* channels */
        article > section:nth-of-type(1) {
            padding: 0;
        }

        article section:nth-of-type(1) video {
            max-width: 100em;
            height: auto;

            border: #141313b7 0.5em;
            border-style: solid;
            border-radius: 0;
        }

        article > section:nth-of-type(1) div {
            border: #141313b7 0.5em;
            border-style: solid;
            border-radius: 0;
        }

        /* remote */
        article section:nth-of-type(2) {
            position: fixed;

            right: 2em;
            bottom: 2em;
            width: 10em;
            height: 20em;
        }

        article section:nth-of-type(2) section:nth-of-type(1) {
            z-index: 10;
        }
        article > section:nth-of-type(2) section:nth-of-type(3) {
            display: none;
        }
    }
}

/* ANIMATIONS */
@keyframes shutdown {
    0% {
        opacity: 0;
    }
    10%,
    45% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.025);
        opacity: 0.8;
    }
    70%,
    100% {
        transform: scale(0, 0);
        opacity: 0.3;
    }
}

@keyframes shutdown-reverse {
    0% {
        opacity: 0;
    }
    10%,
    45% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.025);
        opacity: 0.8;
    }
    70%,
    100% {
        transform: scale(0, 0);
        opacity: 0.3;
    }
}

@keyframes crazy-left {
    from {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes crazy-right {
    from {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes glitch {
    10% {
        background-size: 500px 20px;
    }
    20% {
        background-size: 10px 450px;
    }
    30% {
        background-size: 40px 800px;
    }
    40% {
        background-size: 120px 75px;
    }
    50% {
        background-size: 1000px 30px;
    }
    60% {
        background-size: 10px 125px;
    }
    70% {
        background-size: 100px 20px;
    }
    80% {
        background-size: 50px 750px;
    }
    90% {
        background-size: 30px 250px;
    }
    100% {
        background-size: 400px 60px;
    }
}
