@font-face {
    font-family: HiTV;
    src: url(/assets/fonts/HiTV.ttf);
}

@layer base {
    /* RESETTING */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
    }

    button,
    summary {
        cursor: pointer;
    }
}

@layer title {
    /* CUSTOM PROPERTIES */
    :root {
        /* colors */
        --white: white;
        --black: black;

        --on-off: sienna;
    }
    /* TITEL */
    h1 {
        font-family: "HiTV", "Arial Narrow Bold", Impact, Haettenschweiler, sans-serif;
        font-size: 10vw;
        font-weight: bolder;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        margin: 1rem;
        letter-spacing: 0.75rem;

        background-position: center;
        background-image: -webkit-linear-gradient(transparent, transparent),
            repeating-conic-gradient(#ffffff 0% 25%, #aaa3aa 0% 50%, #000000 0 75%, #3b3b3b 0 100%);
        background-size: 4px 4px;
        background-origin: center;
        animation: glitchTitel 1s linear infinite alternate, shutdown 3s linear reverse;

        background-clip: text;
        -webkit-text-fill-color: transparent;

        &::before,
        &::after {
            display: block;
            content: attr(data-glitch);
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.8;
        }

        &::after {
            color: #f0f;
            z-index: -2;
            animation: glitchText 0.5s cubic-bezier(0.25, 0.5, 0.45, 0.99) both infinite;
        }
        &::before {
            color: #5e5e5e;
            z-index: -1;
            animation: glitchText 0.5s cubic-bezier(0.25, 0.5, 0.45, 0.99) reverse both infinite;
        }
    }

    /* hidden h2 */
    h2 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

@layer tv-components {
    /* retro tv */
    main {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateZ(0);

        /* back-up */
        background-image: radial-gradient(ellipse, #0000, #0007);

        /* https://www.sliderrevolution.com/coding/css-background-patterns/ */
        --s: 50px;
        --a: 60deg;
        --g: #cf0e0e00 45%, #d6f7cc 46% 54%, #dc161600 55%;

        background: linear-gradient(var(--a), var(--g)), linear-gradient(calc(-1 * var(--a)), var(--g)) #e7dad0;
        background-size: var(--s) calc(tan(var(--a)) * var(--s));
        @media (width > 61rem) {
            background-image: radial-gradient(ellipse, #0000, rgba(25, 8, 8, 0.592));
            background-size: 100% 100%;
        }
    }

    main > label {
        display: none;
    }
    /* tv */
    main > article {
        position: relative;
        display: grid;
        gap: 1em;
        align-self: center;

        width: 80%;

        /* backup color */
        background-color: saddlebrown;

        /* https://codepen.io/jkantner/pen/ErQNQW?editors=1100 */
        background-image: radial-gradient(10rem 0.4rem at 8rem 0.8rem, #fff, #fff0), radial-gradient(10rem 0.4rem at 20rem 0.8rem, #fff, #fff0),
            radial-gradient(10rem 0.4rem at 36rem 0.8rem, #fff, #fff0), radial-gradient(14rem 0.8rem at 6rem 2rem, #fff 50%, #fff0),
            radial-gradient(55rem 0.4rem at 50% 2rem, #fff3, #fff0), linear-gradient(#0000, #0004), radial-gradient(12rem 0.4rem at 32rem 2rem, #fff, #fff0),
            url(https://i.ibb.co/rwcYp69/vintage-tv-texture.jpg);
        border-radius: 0.75rem 0.75rem 0.75rem 0.75rem / 3rem 3rem 0.75rem 0.75rem;
        box-shadow: 0 -1rem 0.75rem #ba816c7f inset;

        /* TV CHANNELS */
        & > section:nth-of-type(1) {
            display: grid;
            place-items: center center;
            position: relative;
            padding: 1em 1em 0;
            grid-area: 1/1;

            @media (width > 61rem) {
                padding: 0;
                justify-content: center;
            }

            & div {
                grid-area: 1/1;
                background-color: black;
                width: 100%;
                height: 100%;

                border: #211212 1rem;
                border-style: solid;
                border-radius: 3rem;

                @media (width > 61rem) {
                    border: #141313b7 0.5rem;
                    border-style: solid;
                    border-radius: 0;
                }
            }

            video {
                grid-area: 1/1;

                width: 100%;
                height: 100%;

                border: #211212 1rem;
                border-style: solid;
                border-radius: 3rem;

                @media (width > 61rem) {
                    border: #141313b7 0.5rem;
                    border-style: solid;
                    border-radius: 0;

                    max-width: 100%;
                    height: auto;
                }
            }
        }

        /* antenna */
        & > span {
            width: 0.5rem;
            height: 10rem;

            background: radial-gradient(circle at 20% 40%, rgb(220, 220, 220) 0%, rgb(90, 95, 96) 90%);
            position: absolute;

            bottom: calc(100% - 0.25em);

            z-index: -1;
            border-radius: 50% 50% 25% 25%;
            transform-origin: bottom;
        }

        & > span:nth-of-type(1) {
            transform: rotate(45deg);
            right: 30%;

            &:hover {
                animation: crazy-left 3s ease-in-out infinite alternate;
            }
        }

        & > span:nth-of-type(2) {
            transform: rotate(-45deg);
            left: 30%;

            &:hover {
                animation: crazy-right 3s ease-in-out infinite alternate;
            }
        }

        /* GLITCH ANIMATION */
        &:has(span:nth-of-type(2):hover) > section:nth-of-type(1) div,
        &:has(span:nth-of-type(1):hover) > section:nth-of-type(1) div {
            width: 100%;
            height: 100%;
            background-position: center;
            background-image: repeating-conic-gradient(#0900fc 0% 25%, #fc01fc 0% 50%, #000003 0 75%, #0bf70e 0 100%);
            background-size: 10px 10px;
            background-origin: center;
            animation: glitch 0.05s linear infinite alternate;
            border-radius: 3rem;
            z-index: 2;
        }

        /* REMOTE */
        & > section:nth-of-type(2) {
            /* background-color: brown; */
            height: 20vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 1rem;

            /* on/off */
            & section:nth-of-type(1) {
                width: 5rem;
                height: 5rem;
                cursor: pointer;

                background-color: var(--on-off);
                border-radius: 50%;
                border: 2px solid #160e02;
                box-shadow: #160e02 4px 4px 0 0;
                display: inline-block;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                z-index: 10;

                @media screen and (width > 61rem) {
                    background-color: #a7a7a7;
                    justify-content: flex-end;
                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    border-radius: 50%;

                    input {
                        appearance: none;
                        width: 3rem;
                        height: 3rem;
                        border: 5px solid #000;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition-duration: 0.3s;
                    }
                }
            }

            @media screen and (width > 49rem) {
                height: auto;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }

    /* ON/OFF BUTTUN STATES */
    article > section:nth-of-type(2) section:nth-of-type(1):active {
        box-shadow: #2b1b02 2px 2px 0 0;
        transform: translate(2px, 2px);
    }
    article > section:nth-of-type(2) section:nth-of-type(1) label input::before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: var(--on-off);
        top: -5px;
    }
    article > section:nth-of-type(2) section:nth-of-type(1) label input::after {
        position: absolute;
        content: "";
        width: 0.45rem;
        height: 2rem;
        background-color: #000;
        border-radius: 1rem;
        top: -0.9rem;
        transition-duration: 0.3s;
    }

    article > section:nth-of-type(2) section:nth-of-type(1) label input:checked {
        transform: scale(0.95);
        border: 5px solid green;
    }

    article > section:nth-of-type(2) section:nth-of-type(1) label input:checked::after {
        background-color: green;
    }

    /* SHUTDOWN TV */
    article:has(section:nth-of-type(2) section:nth-of-type(1) label input:checked) section:nth-of-type(1) video {
        animation: shutdown-reverse 1s linear reverse;
    }

    /* OPEN TV */
    article:has(section:nth-of-type(2) section:nth-of-type(1) label input:not(:checked)) section:nth-of-type(1) video {
        /* border: 10px solid red; */
        animation: shutdown 1s linear;
        opacity: 0;
    }

    /* CHANNELS */
    article > section:nth-of-type(2) section:nth-of-type(2) ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        :checked {
            transform: scale(0.95);
            border: 5px solid green;
        }

        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
            border-radius: 50%;

            input {
                appearance: none;
                width: 3rem;
                height: 3rem;
                border: 5px solid #25130b;
                background-color: var(--on-off);
                border-radius: 50%;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition-duration: 300ms;

                /* border: 2px solid #160e02; */
                box-shadow: #160e02 4px 4px 0 0;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                z-index: 10;

                @media screen and (width > 61rem) {
                    background-color: #a7a7a7;
                }
            }
        }
    }

    /* CHANNELS STATES */
    article > section:nth-of-type(2) section:nth-of-type(2) ul li input:active {
        box-shadow: #2b1b02 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li input::before {
        position: absolute;
        transition-duration: 300ms;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) label input:checked {
        transform: scale(0.95);
        border: 5px solid green;
    }

    /* CHANGING CHANNELS */
    video {
        visibility: hidden;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(1) input::before {
        content: "1";
    }
    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(1) input:checked) video:nth-of-type(1) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(2) input::before {
        content: "2";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(2) input:checked) video:nth-of-type(2) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(3) input::before {
        content: "3";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(3) input:checked) video:nth-of-type(3) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(4) input::before {
        content: "4";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(4) input:checked) video:nth-of-type(4) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(5) input::before {
        content: "5";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(5) input:checked) video:nth-of-type(5) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(6) input::before {
        content: "6";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(6) input:checked) video:nth-of-type(6) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(7) input::before {
        content: "7";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(7) input:checked) video:nth-of-type(7) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(8) input::before {
        content: "8";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(8) input:checked) video:nth-of-type(8) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(9) input::before {
        content: "9";
    }

    article:has(section:nth-of-type(2) section:nth-of-type(2) ul li:nth-child(9) input:checked) video:nth-of-type(9) {
        visibility: visible;
    }

    article > section:nth-of-type(2) section:nth-of-type(3) {
        display: none;
    }
}

@media screen and (width > 31rem) {
    article > section:nth-of-type(1) {
        padding: 1.5em 1em 0;
    }

    article > span:nth-of-type(1) {
        right: 35%;
    }

    article > span:nth-of-type(2) {
        left: 35%;
    }

    article > section:nth-of-type(2) section:nth-of-type(3) {
        display: block;
    }

    article > section:nth-of-type(2) section:nth-of-type(3) ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    article > section:nth-of-type(2) section:nth-of-type(3) ul li {
        width: 5rem;
        height: 0.2rem;
        background-color: #000;
        list-style: none;
    }
}

@media screen and (width > 49rem) {
    /* tv */
    main > article {
        width: 70vw;
        height: 50vh;
        padding: 1rem;

        background-image: radial-gradient(10em 0.4em at 8em 0.8em, #fff, #fff0), radial-gradient(10em 0.4em at 20em 0.8em, #fff, #fff0),
            radial-gradient(10em 0.4em at 36em 0.8em, #fff, #fff0), radial-gradient(14em 0.8em at 6em 2em, #fff 50%, #fff0),
            radial-gradient(55em 0.4em at 50% 2em, #fff3, #fff0), linear-gradient(#0000, #0004), radial-gradient(12em 0.4em at 32em 2em, #fff, #fff0),
            url(https://i.ibb.co/rwcYp69/vintage-tv-texture.jpg);
    }

    article {
        grid-template-columns: 1fr 10rem;
        grid-template-rows: 1fr;
    }

    /* antenna */
    article > span:nth-of-type(1) {
        right: 40%;
    }

    article > span:nth-of-type(2) {
        left: 40%;
    }

    /* channels */
    article > section:nth-of-type(1) div {
        padding: 1em 0em 0;
    }

    article section:nth-of-type(1) video {
        width: 100%;
    }

    /* remote */
    article section:nth-of-type(2) {
        height: auto;
        grid-area: 1/2;
    }

    @media (width > 61rem) {
        h1 {
            font-size: 5vw;
            position: absolute;
            top: 0;
        }
        /* tv */
        main > article {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            position: absolute;
            left: 5%;
            bottom: 0;

            max-width: 50rem;
            height: auto;
            margin: 2.5%;
            padding: 2.5% 2.5% 5% 2.5%;

            background: #0d0c0c;
            border-radius: 10px;
            border-bottom-left-radius: 50% 2%;
            border-bottom-right-radius: 50% 2%;
            border-top: 3px solid #888;

            box-shadow: 0 -1em 0.75em #bbb4b462 inset;

            & section:nth-of-type(2) {
                right: 5%;

                background-color: #393939;
                padding: 0.5rem;

                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 2rem;

                border-radius: 1em;

                & section:nth-of-type(1) {
                    align-items: flex-start;
                }
            }
            & section:nth-of-type(1) {
                padding: 0;
            }

            @media (width > 90rem) {
                bottom: 5%;
            }
        }

        article > section:nth-of-type(2) section:nth-of-type(1) label input::before {
            background-color: #a7a7a7;
        }

        /* https://codepen.io/englishfarsi/pen/abzymqy?editors=1100 */
        main > article::after {
            content: "";
            display: block;

            height: 0.2rem;
            width: 28%;

            position: absolute;
            left: 36%;
            bottom: 5%;

            background: #d1cece;
            border-radius: 50%;
            box-shadow: 0 0 3px 0 white;
        }

        /* antenna */
        article > span:nth-of-type(1) {
            display: none;
        }

        article > span:nth-of-type(2) {
            display: none;
        }

        /* remote */
        article > section:nth-of-type(2) {
            position: fixed;

            right: 2rem;
            bottom: 2rem;
            width: 10rem;
            height: 20rem;
        }

        article section:nth-of-type(2) section:nth-of-type(1) {
            z-index: 10;
        }
        article > section:nth-of-type(2) section:nth-of-type(3) {
            display: none;
        }

        /* FIND REMOTE */
        main:has(label input[type="checkbox"]) article section:nth-of-type(2) {
            display: none;
        }

        main:has(label input[type="checkbox"]:checked) article section:nth-of-type(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
        main > label p {
            position: absolute;
            background-color: #5f2626;
            color: whitesmoke;
            text-align: center;
            border-radius: 1em;
            width: 12rem;
            top: -125%;
            left: -4.5rem;

            padding: 1em 0 3em 0;
        }

        /* https://alvarotrigo.com/blog/toggle-switch-css/ */
        main > label {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            left: 40%;

            & input {
                display: none;
            }
            & input:checked + span {
                background-color: #0f1418;
            }
            & input:checked + span:before {
                transform: translateX(1.65rem);
            }

            & span {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 2rem;
            }

            & span::before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                border-radius: 50%;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }
        }
    }
}

/* ANIMATIONS */
@keyframes shutdown {
    0% {
        opacity: 0;
    }
    10%,
    45% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.025);
        opacity: 0.8;
    }
    70%,
    100% {
        transform: scale(0, 0);
        opacity: 0.3;
    }
}

@keyframes shutdown-reverse {
    0% {
        opacity: 0;
    }
    10%,
    45% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.025);
        opacity: 0.8;
    }
    70%,
    100% {
        transform: scale(0, 0);
        opacity: 0.3;
    }
}

@keyframes crazy-left {
    from {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes crazy-right {
    from {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes glitch {
    10% {
        background-size: 500px 20px;
    }
    20% {
        background-size: 10px 450px;
    }
    30% {
        background-size: 40px 800px;
    }
    40% {
        background-size: 120px 75px;
    }
    50% {
        background-size: 1000px 30px;
    }
    60% {
        background-size: 10px 125px;
    }
    70% {
        background-size: 100px 20px;
    }
    80% {
        background-size: 50px 750px;
    }
    90% {
        background-size: 30px 250px;
    }
    100% {
        background-size: 400px 60px;
    }
}

@keyframes glitchTitel {
    10% {
        background-size: 500px 20px;
    }
    20% {
        background-size: 10px 450px;
    }
    30% {
        background-size: 40px 800px;
    }
    40% {
        background-size: 70px 70px;
    }
    50% {
        background-size: 1000px 30px;
    }
    60% {
        background-size: 10px 125px;
    }
    70% {
        background-size: 100px 20px;
    }
    80% {
        background-size: 50px 750px;
    }
    90% {
        background-size: 5px 25px;
    }
    100% {
        background-size: 50px 50px;
    }
}

@keyframes glitchText {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px) skew(0deg);
    }
    40% {
        transform: translate(5px, -5px) skew(0deg);
    }
    60% {
        transform: translate(-5px, 5px) skew(0deg);
    }
    80% {
        transform: translate(5px, -5px) skew(0deg);
    }
    100% {
        transform: translate(0);
    }
}
